/*
PALETA DE CORES DO SITE
--White: #fff
--deep-twilight: #03045eff;
--bright-teal-blue: #0077b6ff;
--turquoise-surf: #00b4d8ff;
--frosted-blue: #90e0efff;
--light-cyan: #caf0f8ff;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilização do Rodapé*/
footer {
    background-color: #03045eff;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.footer-nome {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-descricao {
    font-size: 0.9rem;
    color: #bdc3c7;
    margin-bottom: 20px;
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
    font-size: 0.95rem;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 0.8rem;
    color: #95a5a6;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

/*Estilização do Cabeçalho*/

header {
  background: #0077b6ff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  font-family: Arial, sans-serif;
}

nav a:hover {
  text-decoration: underline;
}